{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "singleQuote": true,
  "printWidth": 80,
  "importOrder": [
    "^_components(.*)$",
    "^_modules(.*)$",
    "^_services(.*)$",
    "^_style(.*)$",
    "^_utils(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true
}
