{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "printWidth": 80,
  "importOrder": [
    "^_components(.*)$",
    "^_hooks(.*)$",
    "^_modules(.*)$",
    "^_services(.*)$",
    "^_style(.*)$",
    "^_shared(.*)$",
    "^_utils(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx", "tsx"]
}
