{
  "customSyntax": "postcss-styled-syntax",
  "extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
  "rules": {
    "color-function-notation": null,
    "media-query-no-invalid": null
  }
}
